@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 400;
	src: local(''),
		url('../public/fonts/source-sans-pro-v21-cyrillic-regular.woff2') format('woff2'),
		url('../public/fonts/source-sans-pro-v21-cyrillic-regular.woff') format('woff');
}

@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 600;
	src: local(''),
		url('../public/fonts/source-sans-pro-v21-cyrillic-600.woff2') format('woff2'),
		url('../public/fonts/source-sans-pro-v21-cyrillic-600.woff') format('woff');
}	
